@using TinhLuongBLL;
@using TinhLuong.Models;
@{
    var credentials = (List<string>)HttpContext.Current.Session[SessionCommon.SESSION_CREDENTIALS];
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>

        $(function () {
            $("#example1").DataTable();
            $("#example2").DataTable();
            $("#example3").DataTable();
        });

        $("#Show").click(function () {
            var a = $("#drpThang").val(),
                b = $("#drpNam").val()
            a > 0 & b > 0 ? window.location.href = "/KKLD/thang-" + a + "-nam-" + b : alert("Bạn phải chọn tháng và năm để xem dữ liệu chấm công!")
        });
        

        $('#btnChotLuongLapDat').click(function () {

            var dataRow = {
                'Thang': $('#drpThang').val(),
                'Nam': $('#drpNam').val(),
            }

            $.ajax({
                type: 'POST',
                url: "/KKLD/ChotLuongLapDat",
                data: dataRow,
                success: function (response) {
                    //alert(response);
                    location.reload();

                }
            });
        });

        function myFunction1() {
            if (confirm("Bạn có muốn import dữ liệu không?")) {
                $("#divLoading").show();
                window.location.href = "/ImportKKLD/ImportDB";
            }
        }

    </script>
}


<section class="content-header">

    <h1 style="width:20%; float:left">
        Lấy dữ liệu khuyến khích/phối hợp lắp đặt
    </h1>
    <div id="uniquename" style="margin-top:5px">
        <center>
            <style>
                #LoaiBS {
                    width: 350px;
                }
            </style>

            @Html.DropDownList("drpThang", ViewBag as SelectList, "--Chọn tháng--", new { @class = "btn btn-default" })
            @Html.DropDownList("drpNam", ViewBag as SelectList, "--Chọn năm--", new { @class = "btn btn-default" })
            @*@Html.DropDownList("drpLoaiFile", ViewBag as SelectList, "--Chọn loại lương--", new { @class = "btn btn-default" })*@
            <button id="Show" class="btn btn-danger">Thực hiện</button>
            @*@if (credentials.Contains("CHOT_LUONGLAPDAT") || Session[SessionCommon.Username].ToString() == "admin")
            {
                <button id="btnChotLuongLapDat" class="btn btn-danger">Chốt lương lắp đặt</button>
                <button type="submit" style="margin-left:5px" id="Import" name="Import" value="Import" class="btn btn-primary" onclick="myFunction1()">Import dữ liệu</button>
            }*@

        </center>
    </div>
</section>
<section class="content-header">
    <div class="box">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="float:left;width:100%;margin-bottom:10px">
                <li role="presentation" class="active">
                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Tổng hợp khuyến khích lắp đặt</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Tổng hợp phối hợp lắp đặt</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Chi Tiết</a>
                </li>


            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab" style="margin-top:5px;">
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nhân sự ID</th>
                                    <th>Số Lượng</th>
                                    <th>Lương</th>
                                </tr>
                            </thead>
                            <tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab" style="margin-top:5px;">
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nhân sự ID</th>
                                    <th>Số Lượng</th>
                                    <th>Lương</th>
                                </tr>
                            </thead>
                            <tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab" style="margin-top:5px;">
                    <div class="box-body">
                        <table id="example3" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    @*<th>Tháng năm</th>*@
                                    <th>Thuê bao id</th>
                                    <th>Phân loại</th>
                                    <th>Nhân viên thi công</th>
                                    <th>UserName</th>
                                    <th>Số điện thoại</th>
                                    <th>Loại DV</th>
                                    <th>Hợp đồng</th>
                                    <th>Tên lắp đặt</th>
                                    <th>Địa Chỉ</th>
                                    <th>Trạng thái HD</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>
</section>


